# Warm-up de sintaxe da linguagem Python

### Treinando sentenças com if e else

#### W1.0 Traduza o seguinte pseudo-código para a linguagem python

In [ ]:
# se 17*17 > 400 entao
#    imprima o texto "Condição verdadeira"
# se não
#    imprima o texto "Condição falsa"

In [ ]:
# Faça aqui

### Treinando conversão de Tipos
#### W1.1 Converta as seguintes variáveis para inteiro e realize as operações solicitadas a seguir.

In [ ]:
# Dica: use a função int() que recebe uma string como argumento e retorna um inteiro
a = "5"
b = "6"

In [ ]:
# Multiplique os dois numeros que você converteu para inteiros na célula acima

In [ ]:
# Converta a soma da célula acima para float
# Dica: use a função float()

### Treinando Laços (loops) do tipo for

In [ ]:
# Considere a lista a a seguir:
lista_str = ["234sewerawe", "abasdreera", "rtydeaera", "agwdeaer", "nsedert", 
         "ab23ea", "qycde", "ajyd", "akm", "wb", "r"]

#### W1.2 usando um loop do tipo for, percorra a lista_str acima deixando as strings em maiúsculo desde o primeiro até o 4o elemento desta lista (ou seja, elemento de índice 3).

In [ ]:
# Faça aqui

#### W1.3 Percorra a lista_str acima excluindo os elementos da lista que terminam com vogal
#### Dica: teste se um caracter é uma vogal assim: charac in ["a", "b", "c", "d", "e"]

In [ ]:
# Faça aqui

#### W1.4 Percorra a lista_str acima excluindo os elementos da lista que não terminam com vogal
#### Dica: teste se um caracter não é uma vogal assim: charac not in ["a", "b", "c", "d", "e"]

In [ ]:
# Faça aqui

### Formando uma string

#### W1.5 Crie uma string genérica (parametrizável) que seja capaz de gerar a string apresentada abaixo

In [ ]:
# Crie uma string parametrizável que atenda este exemplo: # "a=6, b=9, a+b=15, a*b=54"

# Aplique a parametrização para os valores:
# a=100 e b=80


# a=700 e b=860

# Listas em Python

### Treinando conceitos sobre listas em python

#### W1.6 Crie as listas solicitadas a seguir

In [ ]:
# 1) Crie uma lista de números inteiros

# 2) Crie uma lista de booleanos

# 3) Crie uma lista de strings

### Slicing (fatiar)

In [ ]:
# Veja os exercicios respondidos a seguir:

# 1) Criar uma lista com vários elementos
al = [2, 4, 0, 3, 7, 10, 4, 5]
# 2) Imprimir os elementos de índice 0 a 3 (são os 4 primeiros elementos)
print(al[0:3])  # De zero a 3
# 3) Imprimir os elementos de índice 0 a 4, suprimindo o parametro esquerdo do intervalo
print(al[:4])   # De zero a 4
# 4) Imprimir os elementos de índice 2 até o último
print(al[2:])   # De 2 até o último
# 5) Imprimir o último elemento
print(al[-1])   # O último elemento
# 6) Imprimir a cada dois elementos, começando do zero
print(al[::2])  # A cada dois elementos
# 7) Imprimir os elementos espelhados/revertidos
print(al[::-1]) # Reverter/espelhar os elementos
# 8) Atribuir uma lista a um slice (uma parte) da lista original
al[1:3] = [8, 8]
print(al)

# Agora treine seus conhecimentos nas próximas células

#### W1.7 Selecione os elementos da lista5 especificados a seguir

In [ ]:
# Considere a seguinte lista
lista5 = ["awerr", "aa", "sssaere", False, True, None, 9., 0., 9., 104, 20, 1]
# 1) Retorne o primeiro elemento da lista

# 2) Retorne o último elemento da lista

# 3) Retorne os 3 ultimos elementos da lista

# 4) Retorne elementos espaçados a cada 3 elementos, a partir do índice 0

# 5) Retorne a lista na ordem inversa

#### W1.8 Faça um código python para encontrar os elementos de uma lista de strings cujo tamanho seja maior que 3 caracteres e os dois últimos sejam iguais.

In [ ]:
lista = ["awerr", "aa", "awyt", "g", "sssaeee"]
# Faça aqui

#### W1.9 Usando um loop do tipo for encontre a interseção entre duas listas

In [ ]:
lista1 = ["awerr", "aa", "awyt", "g", "sssaere"]
lista2 = ["awerr", "aa", "sssaere", "aabb", "qwerttt", "12345"]

# Faça aqui

#### W1.10 Usando um loop do tipo for encontre os elementos que estão na lista1 mas não estão na lista 2.

In [ ]:
lista1 = ["awerr", "aa", "awyt", "g", "sssaere"]
lista2 = ["awerr", "aa", "sssaere", "aabb", "qwerttt", "12345"]
# Faça aqui

#### W1.11 Usando um loop do tipo for encontre os elementos que não estão na intersecção das duas listas.

In [ ]:
lista1 = ["awerr", "aa", "awyt", "g", "sssaere"]
lista2 = ["awerr", "aa", "sssaere", "aabb", "qwerttt", "12345"]
# Faça aqui

#### W1.12 Crie código python para inverter a ordem de duas palavras que aparecem em frases do tipo: "pera e banana"

In [ ]:
# Exemplo: para a entrada "pera e banana", o resultado esperado é "banana e pera"
frase = "pera e banana"
# Faça aqui

#### W1.13 Encontre a mediana de uma lista de numeros inteiros.
#### Para calcular a mediana, ordene a lista e retorne o elemento do centro. Se a quantidade de elementos for par, retorne a média dos dois elementos do centro.

In [ ]:
lista3 = [9, 0, 9, 8, 20, 4, 7, 6, 8, 22, 0, 50, 104, 20, 1]
lista4 = [9, 0, 9, 8, 20, 4, 7, 6, 8, 22, 0, 50, 104, 20]
# Calcule a mediana das listas lista3 e lista4

## Funções Lambda

#### W1.14 Crie uma função lambda que retorne o valor do argumento multiplicado por ele mesmo

In [ ]:
# Faça aqui

#### W1.15 Crie uma função lambda que retorne o último caracter de uma string passada como argumento

In [1]:
# Faça aqui

#### W1.16 Usando a função do exercício anterior, ordene a lista de strings a seguir. Ou seja, ordene pela ordem alfabética do ultimo caractere. 
#### Dica: use o argumento key da função str.sort()

In [ ]:
#Considere a lista de strings abaixo
strings = ['foo', 'card', 'bar', 'aaa2222a', 'abasb']
# Ordene esta lista pelo tamanho das strings usando uma função lambda
# Faça aqui

## Biblioteca Datetime do Python

In [ ]:
from datetime import datetime # Esta biblioteca python realiza diversas operações com datas

#### W1.17 Crie um objeto datetime a partir da data '18/09/2021' usando o método strptime

## DataFrame

In [ ]:
# Importe as bibliotecas pandas e numpy
import pandas as pd
import numpy as np

#### W1.18 Crie um data frame a partir dos dados do seguinte dicionário. Chame-o de frame

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
# Faça aqui

#### W1.19 Mostre as primeiras linhas do dataframe frame

In [ ]:
# Acesse as primeiras linhas do dataframe df usando a função head

#### W1.20 rie um DataFrame a partir de um dicionário de dicionários. Chame-o de frame3.

In [ ]:
# Crie um Dataframe a partir do seguinte dicionário:
pop = {'DF': {2001: 2.7, 2002: 2.8},
        'GO': {2000: 1.2, 2001: 1.7, 2002: 2.6}}
# Faça aqui

### Função apply

#### W1.21 Execute as instruções solicitadas a seguir.

In [ ]:
# Considere o dataframe abaixo
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                        index=['DF', 'GO', 'SP', 'RJ'])
frame

In [ ]:
# Crie uma função lambda para calcular a diferença 
# entre a média e a mediana de uma Serie, e aplique-a ao dataframe frame, fazendo o cálculo no eixo das linhas

In [ ]:
# aplique afunção lambda ao dataframe frame, fazendo o cálculo no eixo das colunas

### Treinando a função merge (fundir/juntar)

#### W1.22 Faça o merge dos dois dataframes a seguir usando como chave de junção a coluna 'key'. Use o argumento how='left'

In [ ]:
# Considere os seguintes DataFrames
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})

In [ ]:
# Faça aqui

#### W1.23 Repita o exercício 4.9, mas desta vez utilize o faça o merge de tal forma que apareça no resultado somente os registros que cuja chave esteja presente nos dois dataframes.

In [ ]:
# Faça aqui

### Treinando Reshaping / Pivoting (Pivotar)

In [ ]:
# Considere o seguinte DataFrame
table = {
    'Aluno': ['AlunoA', 'AlunoA', 'AlunoA', 'AlunoA', 'AlunoB', 'AlunoB', 'AlunoB', 'AlunoB'],
    'Disciplina': ['Portugues', 'Matematica', 'Geografia', 'História', 'Portugues', 'Matematica', 'Geografia', 'História'],
    'Objetiva': [8.5, 7.5, 9, 10, 8.5, 7.5, 9, 10],
    'Discursiva': [6, 6.5, 7.5, 7, 8.5, 7.5, 9, 10]}
df_provas = pd.DataFrame(table)

In [ ]:
# Faça aqui

#### W1.24 Usando o método pivot_table, faça o pivoteamento do dataframe a seguir. Utilize a métrica padrão (mean) sobre a de agregação quando houver valores repetidos com as mesmas chaves na tabela pivotada.

In [ ]:
# Considere o seguinte DataFrame
table2 = {
    'Aluno': ['AlunoA', 'AlunoA', 'AlunoA', 'AlunoA', 'AlunoA', 'AlunoB', 'AlunoB', 'AlunoB', 'AlunoB'],
    'Disciplina': ['Portugues', 'Matematica', 'Geografia', 'Geografia', 'História', 'Portugues', 'Matematica', 'Geografia', 'História'],
    'Objetiva': [8.5, 7.5, 9, 10, 9, 8.5, 7.5, 9, 10],
    'Discursiva': [6, 6.5, 7.5, 7, 8, 8.5, 7.5, 9, 10]}
df_provas2 = pd.DataFrame(table2)
df_provas2

In [ ]:
# Faça aqui